*.cmd
*.ko
*.mod
*.mod.c
*.o

/*.tar.gz
/build

/debian/*
!/debian/compat
!/debian/*.in

/modules/modules.order
/modules/Module.symvers

/nvm/cvt/

/packages/

/scripts/*
!/scripts/*.in
!/scripts/makefile
/scripts/dgc*.in
/scripts/hcf*.in
/scripts/hsf*.in
/scripts/rc*.in
!/scripts/rccnxt.in
